.info{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
}

button{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 20px auto;
}

#location {
    left: 383px;
}

#bg {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url("bg.png");
    margin: 0 auto;
}

.front {
    position: absolute;
    width: 35px;
    height: 54px;
    bottom: 0;
    background-image: url("hero/hero.png");
}

.back {
    position: absolute;
    width: 35px;
    height: 54px;
    bottom: 0;
    background-image: url("hero/hero.png");
    background-position: -35px 0;
}

.left {
    position: absolute;
    width: 35px;
    height: 54px;
    bottom: 0;
    background-image: url("hero/hero.png");
    background-position: -70px 0;
}

.right {
    position: absolute;
    width: 35px;
    height: 54px;
    bottom: 0;
    background-image: url("hero/hero.png");
    background-position: -105px 0;
}

.ghostFront {
    position: absolute;
    width: 45px;
    height: 54px;
    background-image: url("ghost/ghost.png");
    background-position: 0 0;
    left: 198px;
    top: 0px;
}

.ghostDie {
    position: absolute;
    width: 45px;
    height: 54px;
    background-image: url("ghost/ghost.png");
    background-position: -45px 0;
}